$font-family-sans-serif: 'Roboto', sans-serif;

$fa-font-path: '/fonts';

$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

$blue: #007bff !default;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #e83e8c !default;
$red: #c81f4c !default;
$orange: #fd7e14 !default;
$yellow: #ffa200 !default;
$green: #28a745 !default;
$teal: #20c997 !default;
$cyan: #17a2b8 !default;
$dark-blue: #001e80 !default;

$light-blue: #e7edff !default;

$colors: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$colors: map-merge(
        (
            "blue": $blue,
            "indigo": $indigo,
            "purple": $purple,
            "pink": $pink,
            "red": $red,
            "orange": $orange,
            "yellow": $yellow,
            "green": $green,
            "teal": $teal,
            "cyan": $cyan,
            "white": $white,
            "gray": $gray-600,
            "gray-dark": $gray-800,
            "blue-dark": $dark-blue
        ),
        $colors
);


$primary: $dark-blue !default;
$secondary: $gray-600 !default;
$success: $green !default;
$info: $cyan !default;
$warning: $yellow !default;
$danger: $red !default;
$light: $gray-100 !default;
$dark: $gray-800 !default;

$theme-colors: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$theme-colors: map-merge(
        (
            "primary": $primary,
            "secondary": $secondary,
            "success": $success,
            "info": $info,
            "warning": $warning,
            "danger": $danger,
            "light": $light,
            "dark": $dark,
            "dark-blue": #052448
        ),
        $theme-colors
);


$link-color: $dark-blue;

// Buttons

$btn-padding-y: 0.98rem;
$btn-padding-x: 1rem;
$btn-font-size: 0.9rem;
$btn-line-height: 1;

$btn-font-weight: 300;

$input-border-radius: 10px;
